/* Fonts  */
@font-face{
    font-family: Coda-Regular;
    src: url(../Fonts/Coda-ExtraBold.ttf);
}
*{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family:Coda-Regular;
}
body{
    margin: 0;
    /* padding: 0px; */
}
.uni-padding{
    padding: 0 6%;
}

/* TopBar */
#topbar{
    /* color: #fff; */
    background-color: #576574;
    padding-top: 18px;
    padding-bottom: 18px;
    overflow: auto;
}
#toll-free{
    float: left;
    color: #fdfdfd;
    margin: 0px;
}
#social-icon{
    float: right;
}
.fa-brands{
   color: #fdfdfd;
    margin: 5px;
}

/* LogoBar */
#logobar img{
    width: 180px;
    margin: 20px 0px;
}

#logobar img:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  /* NavBar */
  #navbar{
    background-color: #ee5253;
    /* margin-top: -18px; */
  }
  #navbar ul li{
    display: inline-block;
    padding: 18px 0px;
    padding-right: 30px;
  }
  #navbar ul li a{
    color: #fdfdfd;
    text-decoration: none;
    font-size: 16px;
  }
  #navbar ul{
    margin: 0;
    padding: 0;
  }
  

  /* footer  */
  #imp-links{
    background-color: #576574;
    color: #fdfdfd;
    overflow: auto;
  }
  .div33{
    width: 33.33%;
    float: left;
    padding: 25px 50px;
    box-sizing: border-box;

  }
  .div33 h3{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px ;
    font-weight: normal;
  }
  #footer-menu{
    list-style-type: none;
    padding: 0px;
  }
  #footer-menu li{
    padding-bottom: 10px;
  }
  #footer-menu li a{
    color: #fdfdfd;
    text-decoration: none;
  }
  #footer-menu-container{
    padding-left: 100px;
  }

  #copyright{
    background-color: #223f3e;
    text-align: center;
    color: #fdfdfd;
    padding: 4px;
  }