/* Fonts  */
@font-face{
    font-family: Coda-Regular;
    src: url(../Fonts/Coda-ExtraBold.ttf);
}
*{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family:Coda-Regular;
}
body{
    margin: 0;
    /* padding: 0px; */
}
.uni-padding{
    padding: 0 6%;
}

/* TopBar */
#topbar{
    /* color: #fff; */
    background-color: #576574;
    padding-top: 18px;
    padding-bottom: 18px;
    overflow: auto;
}
#toll-free{
    float: left;
    color: #fdfdfd;
    margin: 0px;
}
#social-icon{
    float: right;
}
.fa-brands{
   color: #fdfdfd;
    margin: 5px;
}

/* LogoBar */
#logobar img{
    width: 180px;
    margin: 20px 0px;
}

#logobar img:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  /* NavBar */
  #navbar{
    background-color: #ee5253;
    margin-top: -18px;
  }
  #navbar ul li{
    display: inline-block;
    padding: 18px 0px;
    padding-right: 30px;
  }
  #navbar ul li a{
    color: #fdfdfd;
    text-decoration: none;
    font-size: 16px;
  }
  